.page-header {
  padding: 10px;
  background-color: black;

  .page-header__list {
    display: flex;
    padding: 0;
  }

  .page-header__item {
    display: block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .page-header__link {
    text-decoration: none;
    color: white;
  }
}